:root {
    --main-color: #724b39;
    --link-normal:#0064b3;
    --link-visited:#8835ab;
    --link-hover:blue;
    /* KITÖLTENI - link aktív állapot*/
    --bg-color:white;
    --text-color:black;
    --border-color:gray;
    --secondary-color:lightgray; 
    /* CSS változók beállítása */
    font-size: 16px;
    /* Alap betűméret beállítása */

    --link-active: red;
}

body {
    
    /* KITÖLTENI - Háttérkép beállítása */
    
    /* KITÖLTENI - Háttérkép méretének beállítása */
    
    /* KITÖLTENI - A háttérkép a görgetés során nem mozdul el */
    margin: 20px 0;
    /* Felső és alsó margó 20px, oldalsó margó 0px */
    font-family: Arial, sans-serif;
    /* Betűtípus beállítása */  
}

div.container {
    background-color: var(--bg-color);
    /* Háttérszín beállítása */
    color: var(--text-color);
    /*Szövegszín beállítása*/
    
    /* KITÖLTENI - Szegély beállítása */
    /* KITÖLTENI - Szegély lekerekítés beállítása 30px*/
    /* KITÖLTENI - Az elemnek 5px jobbra és lefelé eltolva, 10px elmosással fekete árnyékot ad */
}



p {
    margin: 10px 0;
    /* Felső és alsó margó 10px, oldalsó margó 0px */
    
    /* KITÖLTENI - Sorok közötti távolság beállítása */
}


li {
    
    /* KITÖLTENI - Az elem bal oldalán  margót állít be */
    padding: 5px;
    /* Belső margó beállítása */
}

h2,
h3 {
    color: var(--main-color);
    /* Szöveg színének beállítása */
    margin-bottom: 10px;
    /* Az elem alá 10px külső margót állít be */
}

h1 {
    font-size:1.5em;
    /* Relatív betűméret beállítása*/
    text-align: center;
    /* Szöveg igazítása */
    background-color: var(--main-color);
    /* Háttérszín beállítása */
    padding: 10px;
    /* Belső margó beállítása */
    color: var(--bg-color);
    /* Szöveg színének beállítása */
    
    /* KITÖLTENI - A szövegnek 3px jobbra, 5px lefelé eltolva, 6px elmosással fekete árnyékot ad */
    
    /* KITÖLTENI - A felső sarkokat 5px-re lekerekíti, az alsó sarkokat élesen hagyja */
    
    /* KITÖLTENI - Jobbra haladó színátmenet, ahol a --main-color 30%-ig tart, majd feketébe vált */
}




/* LINKEK */

a:link {
    color: var(--link-normal)
        /* szövegszín beállítása */
}

a:visited {
    color: var(--link-visited)
        /* szövegszín beállítása */
}

a:hover {
    color:  var(--link-hover)
        /* szövegszín beállítása */
}

a:active {

    color: var(--link-active)
        /* szövegszín beállítása */
}


/* KITÖLTENI - Oldalon belüli ugrást megvalósító linkek megjelenése */

/* KITÖLTENI - Fókuszba kerülő elemek megjelenése (aláhúzás eltávolítás, körvonal beállítása */


/* KITÖLTENI - e-mail címre mutató link megejelenése */


/* TÁBLÁZATOK */

table {
    border: 1px solid var(--border-color);
    /* Szürke, 1px vastag, folytonos vonalú szegély beállítása */

  /* KITÖLTENI - táblázat szegélyeinek összevonása */

    width: 100%;
    /* Az elem teljes szélességet elfoglalja a szülőjén belül */
}

table td,
table th {
    border: 1px solid var(--border-color);
    /* szegély beállítása */
    padding: 5px;
    /* Belső margó beállítása */
}

caption {
    caption-side: bottom;
    /* A táblázat címe (caption) az aljára kerül */
}

th {
    text-align: right;
    /* Szöveg igazítása */
}

  /* KITÖLTENI - scope="row" osztályú fejléc cellák megjelenítése */


/* ILLUSZTRÁCIÓK, ELŐRE FORMÁZOTT ELEMEK */

pre {
    
   /* KITÖLTENI - white-space, overflow wrap */
    overflow-x: auto;
    /* Vízszintes görgetés, ha szükséges */
    max-width: 100%;
    /* Maximális szélesség beállítása */
    padding: 10px;
    /* Belső margó beállítása */
    text-align: left;
    /* Szöveg igazítása */
}

figcaption,
footer {
    text-align: center;
    /* Szöveg igazítása */
    padding: 10px;
    /* Belső margó beállítása */
}

.KITÖLTENI { /* KITÖLTENI  */
    background-color: black;
    /* Háttérszín beállítása */
    color: white;
    /* Szöveg színének beállítása */
}


/* TOVÁBBI BEÁLLÍTÁSOK HALADÓ SZELEKTORLÁNCOK ALKALMAZÁSÁVAL */

.KITÖLTENI { /* KITÖLTENI  */
    content: '🎞️';
    /* A pseudo-elemnél egy filmtekercs emoji jelenik meg tartalomként */

    padding-right: 10px;
    /* Az elem jobb oldalán 10px belső térközt állít be */
}

.KITÖLTENI { /* KITÖLTENI  */
    content: '📚';
    /* A pseudo-elemnél egy könyvtekercs emoji jelenik meg tartalomként */
    padding-right: 10px;
    /* Az elem jobb oldalán 10px belső térközt állít be */
}

.KITÖLTENI { /* KITÖLTENI  */
    background-color: var(--secondary-color);
    /* Háttérszín beállítása */
    border: 1px dotted var(--border-color);
    /* szegély beállítása */
    padding: 5px;
    /* Belső margó beállítása */
}

.KITÖLTENI { /* KITÖLTENI  */
    background-color: var(--secondary-color);
    /* Az elem háttérszínét világosszürkére állítja */
}


.KITÖLTENI { /* KITÖLTENI  */
    font-style: italic;
    /* A szöveget dőlt stílusúvá teszi */
}

.KITÖLTENI { /* KITÖLTENI  */
    background-color: var(--main-color);
    /* Háttérszín beállítása */
    color: white;
    /* Szöveg színének beállítása */
}


/*ŰRLAP OLDAL SPECIALITÁSAI*/

#canvas {
    
    /* KITÖLTENI  - Az elemet balra igazítja, a következő tartalom körbefolyhatja */
    margin-right: 50px;
    /* Az elem jobb oldalán 50px külső margót állít be */
}


fieldset {
    background-color: var(--secondary-color);
    /* Háttérszín beállítása */
    padding: 10px
}


/* nyomtatás */
  /* KITÖLTENI - nyomtatásra szánt elemek eltüntetése */


/* BETŰMÉRET FINOMHANGOLÁS */

/* KITÖLTENI - Reszponzív betűméret beállítása. Preferált: 3vw, minimum: 16px, maximum 24px */
    
/* KITÖLTENI - Annak beállítása, hogy a betűméret öröklődjön, mert sajnos űrlapelemeknél ez nem történik meg */

/* KITÖLTENI - input, textarea űrlapelemek maximális szélességének beállítása */

