  @media (prefers-color-scheme: dark) {
      /* arculati színek felülírása */
      :root {
          --main-color: #8db4c6;
          --link-normal: yellow;
          --link-visited: orange;
          --link-hover: purple;
          --link-active: red;
          --bg-color: black;
          --text-color: white;
          --border-color: gray;
          --secondary-color: #2c2c2c;
      }
      html {
        background-color: black;
      }
      h1 {
          background: var(--bg-color);
          color: var(--text-color);
          /* Sötét módban nem lesz átmenetes a címsor háttere, csak sötét*/
      }

  }

  /* KITÖLTENI - Sötét háttérkép beállítása*/

  /* KITÖLTENI - Canvas grafika invertálása*/