@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

h1 {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

table,td {
    background-color: white;
    border: 1px solid black;
}
td {
    width: 25px;
    height: 25px;
}